.photo-grid {
  width: 100%;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  padding-top: 98px;
  gap: 22px;
}
