.page {
  background-color: #2a2c2f;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 780) {
  .page {
    background-color: #2a2c2f;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
  }
}

@media screen and (max-width: 320) {
  .page {
    background-color: #2a2c2f;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
  }
}
