.intro__quote {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.125rem;
  width: 736px;
  margin: 0;
  /* margin-bottom: 12px; */
}

@media screen and (max-width: 860px) {
  .intro__quote {
    width: 707px;
  }
}

@media screen and (max-width: 585px) {
  .intro__quote {
    width: 82%;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
}

@media screen and (max-width: 320px) {
  .intro__quote {
    max-width: 288px;
    line-height: 30px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
