.place__autor {
  grid-area: place__autor;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .place__autorr {
    max-width: 316px;
  }
}

@media screen and (min-width: 321px) and (max-width: 585px) {
  .place__autor {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place__autor {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
