.place__button-comprar {
  max-width: 355px;
  width: 100%;
  height: 48px;
  padding: 13px 20px 13px 20px;
  border-radius: 4px;
  gap: 10px;
  grid-area: place__button-comprar;
  background: rgba(2, 120, 254, 1);
  cursor: pointer;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-style: none;
}

.place__button-comprar:hover {
  /* transform: scale(1.06); */
  background-color: #0063d2;
}

@media screen and (min-width: 321px) and (max-width: 585px) {
  .place__button-comprar {
    grid-area: place__button-comprar;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .place__button-comprar {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
