.lead__subtitle {
  color: #fff;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  width: 720px;
  line-height: 2.25rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 585px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 90%;
    margin-bottom: 40px;
  }
}
