.intro__texto {
  width: 720px;
  height: 182px;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}

@media screen and (max-width: 860px) {
  .intro__texto {
    display: flex;
    width: 707px;
  }
}

@media screen and (max-width: 585px) {
  .intro__texto {
    max-width: 585px;
  }
}

@media screen and (max-width: 320px) {
  .intro__texto {
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 321px) {
  .intro__texto {
    width: 288px;
  }
}
