.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #ffffff;
  margin-bottom: 40px;
  text-align: left;
  margin-top: 0;
}

@media screen and (max-width: 860px) {
  .intro__title {
    max-width: 720px;
  }
}
@media screen and (max-width: 585px) {
  .intro__title {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin-left: 16px;
    margin-right: 16px;
  }
}
